@page "/notes"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Notes</PageTitle>

<div class="d-flex justify-center mb-8">
    <MudFab Class="align-self-end mud-theme-primary"
            StartIcon="@Icons.Material.Filled.Add"
            Label="Add note"
            OnClick="NewNote">
    </MudFab>
</div>

<MudGrid>
    @if (_notesList is not null)
    {
        foreach (var note in _notesList)
        {
            <MudItem xs="12">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">
                                @note.Title
                            </MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText>@note.Content</MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
        }
    }
    else
    {
        <MudAlert Severity="Severity.Normal">No notes!</MudAlert>
    }
</MudGrid>
